<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="Bootstrap.Datepicker" version="1.5.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="gridster" version="0.5.6" targetFramework="net45" />
  <package id="jQuery" version="2.2.0" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="jQuery.UI.Themes.Smoothnes" version="1.11.1" targetFramework="net45" />
  <package id="jQuery.UI.Themes.UI-Darkness" version="1.11.1" targetFramework="net45" />
  <package id="jQuery.UI.Themes.UI-Lightness" version="1.11.1" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.14.0" targetFramework="net45" />
</packages>